
<!-- image here -->
<img src="/images/{{productpic}}" alt="Saje Diffuser" class="productpic"> 

<div class="productinfo">
    <h1>{{name}}</h1>
    <h4>{{slogan}}</h4>
    <p>{{features}}</p>
    <h3>{{price}}</h3>
</div>


